%head
	%link{rel:"stylesheet", type:"text/css", href:"main.css"}

%h1
	Andrew Axtell

%ul
	%li
		.round-button
			%a{href:"http://www.google.com"}
				G
	%li
		.round-button
			%a{href:"http://www.google.com"}
				O
	%li	
		.round-button
			%a{href:"http://www.google.com"}
				A
	%li
		.round-button
			%a{href:"http://www.google.com"}
				T

