@charset "utf-8";
@import "normalize";

$primary-black: #000;
$primary-gray: #808080;
$primary-purple: #551a8b;

body {
	background: #FFF;
	text-align: center;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: $primary-black;
	margin-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
}

h1 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	font-weight: 400;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0px;
}

li {
	display: inline-block;
}

.round-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 35px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
}

.round-button:hover {
	background: $primary-gray;
}

.round-button > i {
	width: 100%;
	height: 100%;
}

.round-button > img {
	width: 100%;
	height: 100%;
}

.purple-icon {
	color: $primary-purple;	
}

.project-description {
	display: none;
}

.doc {
	margin: 3em 0;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	font-weight: 300;

	a {
	border: 1px solid white;
	border-radius: 3px;
	padding: 0.75em 0.7em;
	color: white;
	text-decoration: none;
	transition: color 0.1s linear;
	&:hover {
		background: rgba(0,0,0,0.2);
		color: white;
		transition: all 0.15s linear;
	}
	}
}

.welcome {
	-webkit-animation-name: welcome;
	-webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
	from {
	-webkit-transform: scale(0);
	opacity: 0;
	}
	50% {
	 -webkit-transform: scale(0);
	 opacity: 0;
	}
	82.5% {
	-webkit-transform: scale(1.03);
	-webkit-animation-timing-function: ease-out;
	opacity: 1;
	}
	to {
	-webkit-transform: scale(1);
	}
}
