---
title: Home
---
<h1>
	Andrew Axtell's personal, kickass website.
</h1>
<p>
	I wish I was as good with anagrams as the boys from Captain Underpants
</p>
<h1>
Social Media Sites
</h1>
<ul>
	<li>
		<div class='round-button'>
			<i class="fa fa-linkedin" aria-hidden="true"></i>
		</div>
	</li>
	<li>
		<div class='round-button'>
			<i class="fa fa-github" aria-hidden="true"></i>
		</div>
	</li>
</ul>

<h1>
Active Projects
</h1>
<ul>
	<li>
		<div class='round-button'>
			<img src="/images/qs_logo_transparent_purple.png"/>
		</div>
	</li>
</ul>
